<div class="main">
  <h2>Créer un compte</h2>
  <div class="form-upload">
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="firstName">Prenom</label>
        <input type="text" id="firstName" class="form-control" formControlName="firstName">
      </div>
      <div class="form-group">
        <label for="lastName">Nom</label>
        <input type="text" id="lastName" class="form-control" formControlName="lastName">
      </div>
      <div class="form-group">
        <label for="pseudo">Username</label>
        <input type="text" id="pseudo" class="form-control" formControlName="pseudo">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" class="form-control" formControlName="email">
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" class="form-control" formControlName="password">
      </div>
      <button class="btn-submit" type="submit" [disabled]="signUpForm.invalid">Créer mon compte</button>
    </form>
    <p class="text-danger">{{ errorMessage }}</p>
  </div>
</div>
