<div class="main">
    <div class="bg-pres"></div>
    <div class="pres">
        <div class="title-pres">
            Concept
        </div>
        <div class="text-pres">
            Bienvenue sur mon application web. Ce site sert de plateforme de sauvegarde de photo/image privé ou public. Vous pouvez télécharger vos photos/images et les partager ou non avec les autres utilisateurs.
        </div>
        <a id="btn-home" class="btn-home" href="home#why">Learn more</a>
    </div>
    
    <div class="bg-why" id="why"></div>
    <div class="why">
        <div class="title-why">
            Pourquoi
        </div>
        <div class="text-why">
            Je me suis mis au défi de créer un mini projet pour apprendre le framework Angular
            et ceci est le resultat. Malgré le fait que ce soit ma première application sous Angular j'espere qu'elle pourra vous être utile.
        </div>
        
    </div>
</div>
